@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}
body {
  background-color: rgb(0, 0, 0);
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.container {
  background-color: rgb(0, 0, 0);
  height: calc(15vmin * 5);
  width: calc(15vmin * 4);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
}
.container div {
  position: relative;
  height: 100%;
  width: 100%;
}
button {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding: 18px 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 3.5vmin;
  border-radius: 5px;
}
.quad-circle-1 {
  clip-path: circle(100% at 0 0);
}

.quad-circle-2 {
  clip-path: circle(100% at 100% 0);
}
.quad-circle-3 {
  clip-path: circle(100% at 100% 100%);
}
.quad-circle-4 {
  clip-path: circle(100% at 0 100%);
}

.triangle-1 {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.triangle-2 {
  clip-path: polygon(0 0, 100% 0%, 100% 100%);
}

.triangle-3 {
  clip-path: polygon(0 100%, 100% 0%, 100% 100%);
}

.triangle-4 {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.circle {
  border-radius: 50%;
}
